
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/migrations/
/public/upload/
###< symfony/framework-bundle ###

.idea
/.idea/
###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
