{% extends 'layout_result.html.twig' %}

{% block title %}Résultat des éléctions{% endblock %}

{% block body %}
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>

        <div class="content-wrapper">
            <div class="content-header row">
                <a href="{{ path('app_login') }}" class="btn btn-primary waves-effect waves-float waves-light">Administration</a>
            </div>
            <div class="content-body">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10 p-4">
                        <h4 class="mb-2">Résultats de l'éléction provisoir</h4>
                        <div class="card">
                            <div class="card-body">
                                <div class="list-group" id="data-container-vote">
                                    {# data content #}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>

            </div>
        </div>
    </div>
    <!-- END: Content-->

    {#     START : script #}
    <script>
        function fetchData() {
            fetch('{{ path('result_ajax') }}')
                .then(response => response.json())
                .then(data => {
                    // Process the data returned from the server
                    const container = document.getElementById('data-container-vote');
                    container.innerHTML = '';
                    data = Array.isArray(data) ? data : JSON.parse(data);
                    console.log(data);
                    data.forEach(item => {
                        const a = document.createElement('a');
                        a.href = '#';
                        a.classList.add('list-group-item', 'list-group-item-action', 'd-flex', 'align-items-center');

                        const img = document.createElement('img');
                        var base_url = window.location.origin;
                        img.src = base_url+`/upload/profil/${item.photo}`;
                        img.alt = 'User Image';
                        img.classList.add('rounded-circle', 'me-3', 'w-px-50');

                        const div1 = document.createElement('div');
                        div1.classList.add('w-100');

                        const div2 = document.createElement('div');
                        div2.classList.add('d-flex', 'justify-content-between');

                        const user_info = document.createElement('div');
                        user_info.classList.add('user-info');

                        const h6 = document.createElement('h6');
                        h6.classList.add('mb-1');
                        h6.textContent = `${item.firstname} ${item.lastname}`; // Assuming 'item' is an object containing the name property
                        const small = document.createElement('small');
                        small.textContent = `Numéro: ${item.number}`; // Assuming 13 minutes is dynamic
                        const user_status = document.createElement('div');
                        user_status.classList.add('user-status');
                        const span = document.createElement('span');
                        span.classList.add('badge', 'badge-dot', 'bg-success');
                        const small2 = document.createElement('small');
                        small2.textContent = '';

                        user_status.appendChild(span);
                        user_status.appendChild(small2);

                        user_info.appendChild(h6);
                        user_info.appendChild(small);
                        user_info.appendChild(user_status);

                        const add_btn = document.createElement('div');
                        add_btn.classList.add('add-btn');

                        const button = document.createElement('div');
                        button.classList.add('badge', 'bg-success');
                        button.textContent = `${item.vote_count}`;

                        add_btn.appendChild(button);

                        div2.appendChild(user_info);
                        div2.appendChild(add_btn);

                        div1.appendChild(div2);

                        a.appendChild(img);
                        a.appendChild(div1);

                        container.appendChild(a);
                    });
                })
                .catch(error => {
                    console.error(error);
                });
        }

        // Fetch data every 1 minute
        setInterval(fetchData, 60 * 1000);

        // Fetch data initially
        fetchData();
    </script>
    {#     END : script #}
{% endblock %}


