.block-custom-nav{
	
	z-index: 99999;
	min-height: 50px;
	top:95px;
	position: fixed;
	right: 0;
	background: #fff;
    border-bottom-left-radius: 5% 15%;
	border-top-left-radius: 5% 15%;
	height: 50px;
	padding-top: 5px;
    z-index: 9999;
}