<div class="modal fade" id="add-vote-number" aria-hidden="true">
<div class="modal-dialog sidebar-lg">
        <div class="modal-content p-0">
        <button type="button" class="btn-close d-none" data-bs-dismiss="modal" aria-label="Close">×</button>
        <div class="modal-header mb-1">
                <h5 class="modal-title">
                <span class="align-middle">Entré le numéro du bulletin</span>
                </h5>
        </div>
        <div class="modal-body flex-grow-1">
                
                <div class="mb-1">
                        <div class="fv-row mb-2">
                        <label for="modal-number" class="form-label">Numéro</label>
                        <input type="text" id="modal-number" placeholder="Numéro" class="form-control bg-transparent form-control" autocomplete="off" value="">
                        <div class="invalid-feedback number-error ">Entré un numéro valide</div>
                        </div>
                </div>
                
                <div class="d-flex flex-wrap mb-0">
                        <button type="button" id="btn-add-number" class="form-control btn btn-primary waves-effect waves-float waves-light">Valider</button>
                </div>
                
                
        </div>
        </div>
</div>
</div>

<div class="modal fade modal-danger" id="add-vote-number-error" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel120">Erreur</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                        Le numéro de bulletin a été déjà entré!<br>Veulliez entré un numéro valide!
                </div>
                <div class="modal-footer">
                        <button type="button" id="btn-add-number-error-accept" class="btn btn-danger waves-effect waves-float waves-light" data-bs-dismiss="modal">Ok</button>
                </div>
                </div>
        </div>
</div>
<div class="modal fade modal-warning" id="change-vote-status" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel120">Massage</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                        Voulez vous changé l'état du vote?
                </div>
                <div class="modal-footer">
                        <button type="button" id="btn-change-vote-status-accept" class="btn btn-primary waves-effect waves-float waves-light" data-bs-dismiss="modal">Ok</button>
                        <button type="button" class="btn btn-danger waves-effect waves-float waves-light" data-bs-dismiss="modal">Annuler</button>
                </div>
                </div>
        </div>
</div>