<form method="post" action="{{ path('app.admin.voting.candidat.delete', {'id': candidat.id}) }}" onsubmit="return confirm('Confirmez-vous la suppréssion définitive?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ candidat.id) }}">
    <button class="form-control btn btn-danger btn waves-effect waves-float waves-light">Delete</button>
</form>
