{% set _router = app.request.attributes.get('_route') %}
<div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
        
        <li class=" nav-item">
            <a class="d-flex align-items-center" href="{{ path('app.admin.dashboard') }}">
                <i data-feather="home"></i>
                <span class="menu-title text-truncate" data-i18n="Dashboards">Dashboards</span>
            </a>
        </li>
        <li class=" navigation-header">
            <span data-i18n="Fonctionnalités">Fonctionnalités</span>
            <i data-feather="more-horizontal"></i>
        </li>
        
        
       
        
        <li class=" navigation-header">
            <span data-i18n="Parametrages">Parametrages</span>
            <i data-feather="more-horizontal"></i>
        </li>
        <li class="{{ _router in ['app.admin.user.team.index', 'app.admin.user.team.new', 'app.admin.user.team.edit'] ? 'active' : '' }} nav-item">
            <a class="d-flex align-items-center" href="{{ path('app.admin.user.team.index') }}">
                <i data-feather="users"></i>
                <span class="menu-title text-truncate" data-i18n="Utilisateurs">Utilisateurs</span>
            </a>
        </li>
        
        
    </ul>
</div>